<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!foods || foods.length <=0" resetLinkText="Reset Search" ></app-not-found>
<ul>
  <li *ngFor="let food of foods">
    <a routerLink="food/{{food.id}}">
      <img src="{{food.imageUrl}}" alt="foodimage">
      <div class="content">
        <div class="name">
          {{food.name}}
        </div>
        <div class="stars">
        <span class="favorite {{food.favorite? '': 'not'}}">
          ❤
        </span>
      </div>

          <star-rating [value]="food.stars" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="18px"
            [readonly]="false"></star-rating>


        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of food.origins; let i = index">
              {{origin}}
            </span>
          </div>
          <div class="cook-time">
            <span>
              ⏰
            </span>
            {{food.cookTime}}
          </div>
        </div>

        <div class="price">
          <span>
            {{food.price | currency}}
          </span>
        </div>



      </div>
    </a>
  </li>
</ul>
